@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodapé.css);

:root {
    --cor-de-fundo: #FFFFFF;
    --branco: #FFFFFF;
    --Gainsboro: #DCDCDC;
    --darkgreen: #006400;
    --azul-marinho:#000080;
    --MediumSeaGreen:#3CB371;
    --gold: #FFD700;
    --fonte-principal:"Poppins";
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}